@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.container{
    height: 500px;
    width: 440px;
    /* background: linear-gradient(180deg,rgb(153, 237, 243),rgb(73, 166, 185)); */
    background: url('../images/Gemini_Generated_Image_aeqg9baeqg9baeqg.jpg') center center/cover;
    border-radius: 8px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  .container input{
    height: 46px;
    width: 244px;
    border-radius: 8px;
    margin-top: 20px;
    padding-left: 16px;
    background: rgb(231, 255, 251);
    border: none;
}
  .search img{
    height: 44px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
    top: 17px;
}
.icon{
  height: 138px;
  width: 146px;
}
.temp{
  font-size: 2.6rem;
  color: white;
}
.place{
  font-size: 2.1rem;
  margin-top: 3px;
  color: white;
}
.other{
  display: flex;
  justify-content: space-evenly;
  border-radius: 4px;
  border: 1px solid black;
  margin-left: 60px;
  margin-top: 43px;
  width: 330px;
  height: 60px;
  padding-top: 15px;
  background: transparent;
  color: white;
  background-color: rgba(255, 255, 255,0.2);
}
